.App {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 25px auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.characterCard, button {
  background: rgba(221, 221, 221, 0.5);
  padding: 15px;
  margin: 15px;
  border: 5px solid rgba(9,9,9, 0.2);
  box-shadow: 0 10px 15px rgba(0,0,0, .2);
  width: 26%;
  transition: 0.5s;
}

.characterCard * {
  transition: 0.5s;
}

.characterCard:hover {
  background: rgba(221, 221, 221, 0.7);
  box-shadow: 0 15px 15px rgba(0,0,0, .5);
  transform: skew(0deg, 3deg);
}

.characterCard:hover * {
  transition: 0.5s;
  transform: skew(0deg, -3deg);
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

button {
  font-size: 1.2em;
}

button:hover {
  background: rgba(221, 221, 221, 0.7);
  box-shadow: 0 15px 15px rgba(0,0,0, .5);
}

span {
  color: crimson;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .characterCard {
    width: 40%;
  }
}

@media (max-width: 678px) {
  .holder {
    justify-content: space-around;
  }
  .characterCard {
    padding: 40px;
    width: 40%;
  }
}